.home-page {
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .plant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 10px;
    margin-right: 10px;
  }
  
  .search-bar button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  